body{
    padding-bottom:100px !important;
}

#cliend{
    
    position:fixed;
    bottom:0;
    height:20px;
    width:100%;
    padding:10px;
    background: #0099CC;
    font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif, Times New Roman;
    color:#fff;
    
    h1{
        font-weight: 300;
        font-size: 25px;
        cursor: pointer;
    }
}